include ../_mixins/_all

block vars
  -title        = ''
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -pageID       = ''
  -path         = '.'

doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    //- Font Family
    link(rel='stylesheet' href='./assets/font/Inter/stylesheet.css')
    link(rel='stylesheet' href='./assets/font/SVN-Gilroy/stylesheet.css')

    //- CSS Library

    //- CSS All
    link(rel='stylesheet' href='./assets/css/common.css')

    //- CSS Page
    if pageID == 'homepage'
      link(rel='stylesheet' href='./assets/css/home.css')
    title=title

  body(class=pageID)
    include ../_modules/header
    main.main
      block container
    include ../_modules/footer

    //- JS Library
    script(src='./assets/js/library/jquery/jquery.js')
    script(src='./assets/js/library/daisy/daisy.min.js')

    script(src='./assets/js/main.js' type='module')
    block scripts
