//- Title
.title {
  &-32 {
    line-height: 1.2;
    font-size: 3.2rem;
  }
}

//- Text
.text {
  &-20 {
    font-size: 2rem;
    line-height: 1.5;

    @include max(767px) {
      font-size: 1.8rem;
    }
  }

  &-18 {
    line-height: 1.5;
    font-size: 1.8rem;

    @include max(767px) {
      font-size: 1.6rem;
    }
  }

  &-16 {
    line-height: 1.5;
    font-size: 1.6rem;

    @include max(767px) {
      font-size: 1.4rem;
    }
  }

  &-14 {
    line-height: 1.5;
    font-size: 1.4rem;
  }

  &-12 {
    line-height: 1.5;
    font-size: 1.2rem;
  }
}

//- Flex
.flex {
  display: flex;
  flex-direction: column;

  &-32 {
    row-gap: 3.2rem;
  }

  &-28 {
    row-gap: 2.8rem;
  }

  &-24 {
    row-gap: 2.4rem;
  }

  &-20 {
    row-gap: 2rem;
  }

  &-16 {
    row-gap: 1.6rem;
  }

  &-12 {
    row-gap: 1.2rem;
  }

  &-8 {
    row-gap: 0.8rem;
  }

  &-4 {
    row-gap: 0.4rem;
  }
}

//- Other
.f {
  &-tt {
    font-family: var(--font-title);
  }

  &-pri {
    font-family: var(--font-pri);
  }
}

.fs-i {
  font-style: italic;
}

.t {
  &-c {
    text-transform: capitalize;
  }

  &-up {
    text-transform: uppercase;
  }

  &-ct {
    text-align: center;
  }
}

.fw {
  &-b {
    font-weight: bold;
  }

  &-sb {
    font-weight: 600;
  }

  &-m {
    font-weight: 500;
  }

  &-n {
    font-weight: 400;
  }

  &-t {
    font-weight: 300;
  }
}

.dot {
  position: relative;
  padding-left: 2.4rem;

  &::before {
    content: "";
    top: 1rem;
    left: 1rem;
    position: absolute;
    border-radius: 100%;
    pointer-events: none;
    background-color: $color-text;
    @include box(0.4rem);
  }
}
