.cv {
  position: relative;
  padding-block: 2.4rem;
  background-color: rgba(0, 0, 0, 0.4);

  &-inner {
    z-index: 2;
    overflow: hidden;
    height: 112.4rem;
    position: relative;
    background-color: white;
    @include shadow;
  }

  &-block {
    padding: 2.4rem;

    &:not(:last-child) {
      border-bottom: 0.1rem solid $color-bg;
    }
  }

  &-content {
    .box {
      gap: 0.8rem 2.4rem;
      justify-content: space-between;
      @include flex-icenter;
    }

    .text-16 {
      strong {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }

  &-heading {
    .list {
      column-gap: 3.2rem;
      @include flex-center;
    }

    .list-item {
      &:not(:last-child) {
        .text-16 {
          position: relative;

          &::after {
            content: "";
            top: 50%;
            height: 80%;
            right: -1.6rem;
            width: 0.1rem;
            position: absolute;
            transform: translateY(-50%);
            background-color: $color-text;
          }
        }
      }
    }

    .text-16 {
      @include min(1201px) {
        &:hover {
          span {
            color: $color-sec;
          }
        }
      }

      span {
        @include transition;
      }
    }
  }

  &-code {
    .text-16 {
      strong {
        text-decoration: unset;
      }
    }
  }

  .decor {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    pointer-events: none;
  }
}
